{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{%- block content %}
<div class="bg-alt-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center d-flex">
                <div class="align-self-center">
                    <h1 class="mb-3 mb-md-0"><i class="far fa-paper-plane fa-fw mr-2"></i>Contact Us</h1>
                    <div class="my-3">
                        {%- for i in getSocialMedias() %}
                        {{- socialIcon(i["name"], i["url"], "dark") | indent(24, True) }}
                        {%- endfor %}
                    </div>
                    <p class="my-3">Do you have a special request, would you like to hear more about us or our products? Let us help you out!</p>
                    <div class="row no-gutters">
                        {%- macro iconButton(url, icon, title) %}
                        <div class="my-3 col-12 col-lg"><a href="{{ url }}" class="btn btn-outline-primary py-2 px-3"><i class="fas fa-{{ icon }} fa-fw mr-3"></i>{{ title }}</a></div>
                        {%- endmacro %}
                        {{- iconButton("mailto:me@joshv.tech", "envelope", "Email") }}
                        {{- iconButton("tel:07518387243", "phone-alt", "Phone") }}
                        {{- iconButton("#map", "map-marker-alt", "Location") }}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 id="contact-form" class="text-center">Reach Out!</h3>
                <hr class="w-75 border-primary">
                <form method="POST">
                    <div class="form-group">
                        <label for="name" class="p text-muted"><i class="far fa-envelope fa-fw"></i> Your Name <span class="text-danger">*</span></label>
                        <input name="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email" class="p text-muted"><i class="far fa-address-card fa-fw"></i> Your Email <span class="text-danger">*</span></label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="p text-muted"><i class="fas fa-mobile-alt fa-fw"></i> Your Contact Number</label>
                        <input name="phone" type="tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message" class="p text-muted"><i class="far fa-comments"></i> Your Message <span class="text-danger">*</span></label>
                        <textarea name="message" class="form-control" rows=3></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary p">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bg-alt-2 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3 id="opening-times" class="text-center">Opening Times</h3>
                <hr class="w-75 border-primary">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="py-2 px-3">Day</th>
                            <th class="py-2 px-3">Open</th>
                            <th class="py-2 px-3">Close</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- macro friendlyTime(hour) %}
                        <td class="py-2 px-3">{{ "{}:00".format(hour).zfill(5) if hour else "Closed" }}</td>
                        {%- endmacro %}
                        {%- for i, v in getOpeningTimes().items() %}
                        <tr>
                            <td class="py-2 px-3">{{ i }}</td>
                            {{- friendlyTime(v.get("opening")) | indent(4, True) }}
                            {{- friendlyTime(v.get("closing")) | indent(4, True) }}
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md">
                <h3 id="map" class="text-center">Find Us</h3>
                <hr class="w-75 border-primary">
                <ul class="list-unstyled">
                    <li><p class="m-0">83 Mill St.</p></li>
                    <li><p class="m-0">Macclesfield</p></li>
                    <li><p class="m-0">SK11 6NN</p></li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2386.7935187075404!2d-2.12564192712307!3d53.25740046951029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4920a9af0c5b%3A0x89bfb5dcfe6ee7d0!2sBeanies!5e0!3m2!1sen!2suk!4v1621943220180!5m2!1sen!2suk" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>
        </div>
    </div>
</div>
{%- endblock %}