{% extends "base.html" %}

{% macro productCard(title) %}
<div class="col-6 px-2">
    <div class="card">
        <img src="https://3.bp.blogspot.com/-7LC4sFkVk7o/UnxElWj78QI/AAAAAAAADBU/j67ctvnywFY/s1600/551232_719158624764426_260511229_n.jpg" class="card-img-top"/>
        <div class="card-body">
            <h3 class="card-title">title{{ title }}</h3>
            <p class="card-text">This is the body</p>
            <button class="btn btn-outline-dark btn-block">View Product</button>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex align-items-center">
                <h1 class="m-0">Boris - Delicious Cakes, straight to your door!</h1>
            </div>
            <div class="col row no-gutters">
                <div class="col-auto mx-3 d-flex align-items-center" style="font-size: 1.5rem;">
                    <a href="#productCarousel" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left text-dark"></i>
                    </a>
                </div>
                <div id="productCarousel" class="carousel slide col" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for i in range(3) %}
                        <div class="carousel-item {% if i == 0 %}active{% endif %}">
                            <div class="row no-gutters">
                                {{ productCard(i) }}
                                {{ productCard(i) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-auto mx-3 d-flex align-items-center" style="font-size: 1.5rem;">
                    <a href="#productCarousel" role="button" data-slide="next">
                        <i class="fas fa-chevron-right text-dark"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content"></div>
{% endblock %}